<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <img src="images/coffee-break.png" />
      <h1><%= smallTitle %></h1>
    </div>
    <div class="box">
      <% if(itemList.length === 0) { %>
      <div class="item">
        <input type="checkbox" />
        <p>Start adding ToDo's</p>
      </div>
      <%} else {%> <% itemList.forEach(item => { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= item %></p>
      </div>
      <% })}; %>
      <form class="item" action="<%= formUrl %>" method="post">
        <input
          type="text"
          name="newItem"
          placeholder="New item"
          autocomplete="off"
        />
        <button type="submit">+</button>
      </form>
    </div>
    <footer class="box">
      You can clear the list completely by typing /clear
    </footer>
  </body>
</html>
