<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <center>
      <img src="images/coffee-break.png" />
      <h1><%= smallTitle %> ToDo List</h1>

      <ul>
        <% itemList.forEach(item => { %>
        <li><%= item %></li>
        <% }); %>
      </ul>
      <form action="/" method="post">
        <input type="text" name="newItem" />
        <button type="submit">Send</button>
      </form>
      <p>
        Aloita kirjoittamalla taski tekstikentt채채n.<br />
        (Voit tyhjent채채 listan kokonaan kirjoittamalla /clear)
      </p>
    </center>
  </body>
</html>
