<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <img src="images/coffee-break.png" />
      <h1><%= smallTitle %></h1>
    </div>
    <div class="box">
      <% if(itemList.length === 0) { %>
      <p class="item">Start adding ToDo's</p>
      <%} else {%> <% itemList.forEach(item => { %>
      <p class="item"><%= item %></p>
      <% })}; %>
    </div>
    <footer class="box">
      <form action="/" method="post">
        <input type="text" name="newItem" />
        <button type="submit">Add</button>
      </form>
      Aloita kirjoittamalla taski tekstikentt채채n.<br />
      (Voit tyhjent채채 listan kokonaan kirjoittamalla /clear)
    </footer>
  </body>
</html>
